/**


                                
                                
 .oooo.   oo.ooooo.  oo.ooooo.  
`P  )88b   888' `88b  888' `88b 
 .oP"888   888   888  888   888 
d8(  888   888   888  888   888 
`Y888""8o  888bod8P'  888bod8P' 
           888        888       
          o888o      o888o      
                                
             .               oooo                     
           .o8               `888                     
 .oooo.o .o888oo oooo    ooo  888   .ooooo.   .oooo.o 
d88(  "8   888    `88.  .8'   888  d88' `88b d88(  "8 
`"Y88b.    888     `88..8'    888  888ooo888 `"Y88b.  
o.  )88b   888 .    `888'     888  888    .o o.  )88b 
8""888P'   "888"     .8'     o888o `Y8bod8P' 8""888P' 
                 .o..P'                               
                 `Y8P'  
                 

**/
/* line 43, ../sass/app.scss */
body {
  background: white;
}

/* line 47, ../sass/app.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 54, ../sass/app.scss */
#LeftOnlyNav {
  display: none;
}

/* line 60, ../sass/app.scss */
.month {
  overflow: hidden;
  *zoom: 1;
  height: auto !important;
  margin: 20px 0 28px 0;
}

/* line 61, ../sass/app.scss */
.cover, #newsList .newsItem, #newsList .newsItem .imageMask {
  background-postion: 50%;
  -webkit-background-postion: 50%;
  -moz-background-postion: 50%;
  -o-background-postion: 50%;
  -ms-background-postion: 50%;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

/* line 73, ../sass/app.scss */
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  background: rgba(255, 255, 255, 0.85);
  top: 0;
  z-index: 1000;
}

/* line 74, ../sass/app.scss */
.videoModal {
  display: none;
  width: 853px;
  height: 480px;
  z-index: 10001;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -426px;
  margin-top: -240px;
}

/* line 75, ../sass/app.scss */
.videoLink {
  position: absolute;
}

/* line 78, ../sass/app.scss */
#newsList {
  /*Arrow up */
  /* Arrow right */
  margin-top: 400px;
  width: 1160px;
  margin: 0 auto;
}
/* line 80, ../sass/app.scss */
#newsList .videoMask {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 180px;
}
/* line 81, ../sass/app.scss */
#newsList .videoMask img {
  max-width: 100%;
  margin-top: -40px;
}
/* line 83, ../sass/app.scss */
#newsList .relevance-High .videoMask:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0px;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid white;
  z-index: 10;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
}
/* line 99, ../sass/app.scss */
#newsList .relevance-Low .videoMask:before,
#newsList .list .tile-thumb:before,
#newsList .list .relevance-High .videoMask:before {
  content: '';
  position: absolute;
  top: 80px;
  width: 0;
  height: 0px;
  border-top: 15px solid transparent;
  border-right: 15px solid white;
  border-bottom: 15px solid transparent;
  z-index: 10;
  right: 0;
}
/* line 111, ../sass/app.scss */
#newsList .list .relevance-High .videoMask:before {
  left: 157px;
}
/* line 114, ../sass/app.scss */
#newsList .relevance-Low .videoMask {
  width: 180px;
}
/* line 115, ../sass/app.scss */
#newsList .relevance-Low .videoMask img {
  max-width: 188%;
  margin-top: -40px;
  margin-left: -50%;
}
/* line 116, ../sass/app.scss */
#newsList .relevance-Low .videoMask + div {
  margin-left: 180px;
}
/* line 119, ../sass/app.scss */
#newsList .relevance-Low .videoMask + div h4,
#newsList .newsItem.relevance-Low.hasImage .info h4,
#newsList .newsItem.relevance-Low.hasVideo .info h4 {
  font-size: 17px !important;
}
/* line 120, ../sass/app.scss */
#newsList .newsItem.relevance-Low.hasImage .info {
  margin-left: 180px;
}
/* line 123, ../sass/app.scss */
#newsList .hasVideo {
  background: none !important;
}
/* line 124, ../sass/app.scss */
#newsList .hasVideo:before {
  display: none !important;
}
/* line 126, ../sass/app.scss */
#newsList .newsItem.hasVideo .info h4 {
  color: #777 !important;
}
/* line 127, ../sass/app.scss */
#newsList .news {
  width: 103%;
  padding-left: 26px;
}
/* line 128, ../sass/app.scss */
#newsList h3:before {
  top: 47px;
}
/* line 129, ../sass/app.scss */
#newsList .list .newsItem .info {
  margin: 0;
  padding-right: 20px;
}
/* line 133, ../sass/app.scss */
#newsList .list .newsItem.hasVideo .info,
#newsList .list .newsItem.hasImage .info,
#newsList .newsItem.relevance-Low.hasImage .info,
#newsList .newsItem.relevance-Low.hasVideo .info {
  margin-left: 180px;
}
/* line 135, ../sass/app.scss */
#newsList .list .newsItem .videoMask {
  width: 180px;
}
/* line 136, ../sass/app.scss */
#newsList .list .newsItem .videoMask img {
  max-width: 319px;
  margin-top: -30px;
  margin-left: -50%;
}
/* line 138, ../sass/app.scss */
#newsList .list .tile-thumb {
  width: 180px;
  left: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
}
/* line 139, ../sass/app.scss */
#newsList .list .tile-thumb img {
  display: block;
  height: 180px;
  margin-left: -60px;
  width: auto;
}
/* line 142, ../sass/app.scss */
#newsList .list-image {
  display: none;
}
/* line 147, ../sass/app.scss */
#newsList .list .list-image {
  display: block;
  width: 30%;
}
/* line 152, ../sass/app.scss */
#newsList .list .newsItem {
  width: 48% !important;
  height: 180px;
  overflow: hidden;
  background: none !important;
}
/* line 157, ../sass/app.scss */
#newsList .list .newsItem:before {
  display: none !important;
}
/* line 161, ../sass/app.scss */
#newsList .list .newsItem .info h4 {
  color: #777777;
}
/* line 167, ../sass/app.scss */
#newsList .dateWrapper {
  display: block;
  width: 100%;
  height: 55px;
  margin-left: -47px;
  clear: both;
}
/* line 174, ../sass/app.scss */
#newsList h3 {
  clear: both;
  float: left;
  background: #33a0ad;
  padding: 13px 30px;
  width: auto;
  height: auto;
  font-family: "RotisSansSerif55",arial;
  color: white;
  font-size: 20px;
  font-weight: normal;
}
/* line 188, ../sass/app.scss */
#newsList .relevance-High.category-business {
  background-color: #66aa44;
}
/* line 189, ../sass/app.scss */
#newsList .relevance-High.category-people {
  background-color: #225599;
}
/* line 190, ../sass/app.scss */
#newsList .relevance-High.category-growth {
  background-color: #003344;
}
/* line 192, ../sass/app.scss */
#newsList .relevance-High h4 {
  color: white;
}
/* line 197, ../sass/app.scss */
#newsList .newsItem {
  border: 1px solid #eee;
  padding: 20px;
  width: 370px;
  float: left;
  height: 370px;
  /* -webkit-box-sizing: border-box; */
  margin: 10px;
  position: relative;
}
/* line 206, ../sass/app.scss */
#newsList .newsItem.relevance-High:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 230px;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  left: 0;
  z-index: 1;
}
/* line 217, ../sass/app.scss */
#newsList .newsItem a.more {
  background: url("https://sites.accenture.com/publishing/Mexico/MKTDev/assets/img/rightarrow.png") no-repeat;
  width: 25px;
  height: 26px;
  text-indent: -10000px;
  display: block;
  float: right;
}
/* line 226, ../sass/app.scss */
#newsList .newsItem .tags a {
  background: black;
  color: white;
  display: block;
  float: left;
  padding: 0 11px;
  border-radius: 5px;
  line-height: 24px;
}
/* line 235, ../sass/app.scss */
#newsList .newsItem.relevance-Low {
  height: 180px;
}
/* line 237, ../sass/app.scss */
#newsList .newsItem.relevance-Low h4 {
  color: #777777 !important;
}
/* line 241, ../sass/app.scss */
#newsList .newsItem.relevance-Low .hasImage.info {
  margin-left: 174px;
  top: 14px;
  margin-right: 10px;
}
/* line 246, ../sass/app.scss */
#newsList .newsItem.relevance-Low .hasImage.info h4 {
  font-size: 18px;
}
/* line 252, ../sass/app.scss */
#newsList .newsItem .hasImage {
  color: white;
}
/* line 255, ../sass/app.scss */
#newsList .newsItem .info {
  position: absolute;
  bottom: 20px;
  margin-right: 20px;
  z-index: 2;
}
/* line 260, ../sass/app.scss */
#newsList .newsItem .info h4 {
  font-size: 22px;
  font-family: Arial;
  font-weight: normal;
  line-height: 120%;
}
/* line 266, ../sass/app.scss */
#newsList .newsItem .info .date {
  line-height: 35px;
  color: #999;
}
/* line 271, ../sass/app.scss */
#newsList .newsItem .imageMask {
  width: 180px;
  height: 180px;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
}

/* line 282, ../sass/app.scss */
#LayoutArea, .content {
  width: 1168px;
  margin: 0 auto;
}
