/**


                                
                                
 .oooo.   oo.ooooo.  oo.ooooo.  
`P  )88b   888' `88b  888' `88b 
 .oP"888   888   888  888   888 
d8(  888   888   888  888   888 
`Y888""8o  888bod8P'  888bod8P' 
           888        888       
          o888o      o888o      
                                
             .               oooo                     
           .o8               `888                     
 .oooo.o .o888oo oooo    ooo  888   .ooooo.   .oooo.o 
d88(  "8   888    `88.  .8'   888  d88' `88b d88(  "8 
`"Y88b.    888     `88..8'    888  888ooo888 `"Y88b.  
o.  )88b   888 .    `888'     888  888    .o o.  )88b 
8""888P'   "888"     .8'     o888o `Y8bod8P' 8""888P' 
                 .o..P'                               
                 `Y8P'  
                 

**/
/* line 44, ../sass/app.scss */
body {
  background: white;
}

/* line 48, ../sass/app.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 55, ../sass/app.scss */
#LeftOnlyNav {
  display: none;
}

/* line 58, ../sass/app.scss */
h1, h2, h3, h4 {
  font-family: "RotisSansSerif55",arial;
}

/* line 63, ../sass/app.scss */
.month {
  overflow: hidden;
  *zoom: 1;
  height: auto !important;
  margin: 20px 0 28px 0;
}

/* line 64, ../sass/app.scss */
.cover, #newsList .newsItem, #newsList .newsItem .imageMask {
  background-postion: 50%;
  -webkit-background-postion: 50%;
  -moz-background-postion: 50%;
  -o-background-postion: 50%;
  -ms-background-postion: 50%;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

/* line 76, ../sass/app.scss */
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  background: rgba(255, 255, 255, 0.85);
  top: 0;
  z-index: 10000;
}

/* line 77, ../sass/app.scss */
.videoModal {
  display: none;
  width: 853px;
  height: 480px;
  z-index: 10001;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -426px;
  margin-top: -275px;
}

/* line 78, ../sass/app.scss */
.videoModal .close {
  background: url("https://sites.accenture.com/publishing/Mexico/MKTDev/assets/img/close.png") no-repeat;
  float: right;
  width: 54px;
  height: 69px;
  text-indent: -10000px;
  opacity: 0.7;
}
/* line 85, ../sass/app.scss */
.videoModal .close:hover {
  opacity: 1;
}

/* line 89, ../sass/app.scss */
.tags a {
  background: black;
  color: white !important;
  display: block;
  float: left;
  padding: 0 11px;
  border-radius: 5px;
  line-height: 24px;
  text-decoration: none;
}

/* line 99, ../sass/app.scss */
#newsList {
  /*Arrow up */
  /* Arrow right */
  margin-top: 400px;
  width: 1160px;
  margin: 0 auto;
}
/* line 100, ../sass/app.scss */
#newsList a {
  color: inherit;
}
/* line 103, ../sass/app.scss */
#newsList .videoMask {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 180px;
}
/* line 104, ../sass/app.scss */
#newsList .videoMask img {
  max-width: 100%;
  margin-top: -40px;
}
/* line 105, ../sass/app.scss */
#newsList .videoLink {
  position: absolute;
  background: url("https://sites.accenture.com/publishing/Mexico/MKTDev/PublishingImages/play.png") center center no-repeat;
  left: 0;
  top: 0;
  text-indent: -10000px;
  height: 180px;
  width: 100%;
}
/* line 117, ../sass/app.scss */
#newsList .list .videoLink {
  width: 180px;
}
/* line 118, ../sass/app.scss */
#newsList .list .info {
  top: 20px !important;
}
/* line 124, ../sass/app.scss */
#newsList .relevance-Low .videoMask:before,
#newsList .list .tile-thumb:before,
#newsList .list .relevance-High .videoMask:before {
  content: '';
  position: absolute;
  top: 80px;
  width: 0;
  height: 0px;
  border-top: 15px solid transparent;
  border-right: 15px solid white;
  border-bottom: 15px solid transparent;
  z-index: 10;
  right: 0;
}
/* line 136, ../sass/app.scss */
#newsList .list .relevance-High .videoMask:before {
  left: 157px;
}
/* line 139, ../sass/app.scss */
#newsList .relevance-Low .videoMask {
  width: 180px;
}
/* line 140, ../sass/app.scss */
#newsList .relevance-Low .videoMask img {
  max-width: 188%;
  margin-top: -40px;
  margin-left: -50%;
}
/* line 141, ../sass/app.scss */
#newsList .relevance-Low .videoMask + div {
  margin-left: 180px;
}
/* line 144, ../sass/app.scss */
#newsList .relevance-Low .videoMask + div h4,
#newsList .newsItem.relevance-Low.hasImage .info h4,
#newsList .newsItem.relevance-Low.hasVideo .info h4 {
  font-size: 17px !important;
}
/* line 145, ../sass/app.scss */
#newsList .newsItem.relevance-Low.hasImage .info {
  margin-left: 180px;
}
/* line 148, ../sass/app.scss */
#newsList .hasVideo {
  background: none !important;
}
/* line 149, ../sass/app.scss */
#newsList .hasVideo:before {
  display: none !important;
}
/* line 151, ../sass/app.scss */
#newsList .newsItem.hasVideo .info h4 {
  color: #777 !important;
}
/* line 152, ../sass/app.scss */
#newsList .news {
  width: 103%;
  padding-left: 26px;
}
/* line 153, ../sass/app.scss */
#newsList h3:before {
  top: 47px;
}
/* line 154, ../sass/app.scss */
#newsList .list .newsItem .info {
  margin: 0;
  padding-right: 20px;
}
/* line 158, ../sass/app.scss */
#newsList .list .newsItem.hasVideo .info,
#newsList .list .newsItem.hasImage .info,
#newsList .newsItem.relevance-Low.hasImage .info,
#newsList .newsItem.relevance-Low.hasVideo .info {
  margin-left: 180px;
}
/* line 160, ../sass/app.scss */
#newsList .list .newsItem .videoMask {
  width: 180px;
}
/* line 161, ../sass/app.scss */
#newsList .list .newsItem .videoMask img {
  max-width: 319px;
  margin-top: -30px;
  margin-left: -50%;
}
/* line 163, ../sass/app.scss */
#newsList .list .tile-thumb {
  width: 180px;
  left: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
}
/* line 164, ../sass/app.scss */
#newsList .list .tile-thumb img {
  display: block;
  height: 180px;
  margin-left: -60px;
  width: auto;
}
/* line 167, ../sass/app.scss */
#newsList .list-image {
  display: none;
}
/* line 172, ../sass/app.scss */
#newsList .list .list-image {
  display: block;
  width: 30%;
}
/* line 177, ../sass/app.scss */
#newsList .list .newsItem {
  width: 48% !important;
  height: 180px;
  overflow: hidden;
  background: none !important;
}
/* line 182, ../sass/app.scss */
#newsList .list .newsItem:before {
  display: none !important;
}
/* line 186, ../sass/app.scss */
#newsList .list .newsItem .info h4 {
  color: #777777;
}
/* line 192, ../sass/app.scss */
#newsList .dateWrapper {
  display: block;
  width: 100%;
  height: 55px;
  margin-left: -47px;
  clear: both;
}
/* line 199, ../sass/app.scss */
#newsList h3 {
  clear: both;
  float: left;
  background: #33a0ad;
  padding: 13px 30px;
  width: auto;
  height: auto;
  font-family: "RotisSansSerif55",arial;
  color: white;
  font-size: 20px;
  font-weight: normal;
}
/* line 213, ../sass/app.scss */
#newsList .relevance-High.category-business {
  background-color: #66aa44;
}
/* line 214, ../sass/app.scss */
#newsList .relevance-High.category-people {
  background-color: #225599;
}
/* line 215, ../sass/app.scss */
#newsList .relevance-High.category-growth {
  background-color: #003344;
}
/* line 216, ../sass/app.scss */
#newsList .relevance-High .videoLink {
  height: 180px;
}
/* line 221, ../sass/app.scss */
#newsList .relevance-High .videoMask:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0px;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid white;
  z-index: 10;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
}
/* line 236, ../sass/app.scss */
#newsList .relevance-High h4 {
  color: white;
}
/* line 242, ../sass/app.scss */
#newsList .newsItem {
  border: 1px solid #eee;
  padding: 20px;
  width: 370px;
  float: left;
  height: 370px;
  /* -webkit-box-sizing: border-box; */
  margin: 10px;
  position: relative;
}
/* line 251, ../sass/app.scss */
#newsList .newsItem.relevance-High:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 230px;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  left: 0;
  z-index: 1;
}
/* line 262, ../sass/app.scss */
#newsList .newsItem a.more {
  background: url("https://sites.accenture.com/publishing/Mexico/MKTDev/assets/img/rightarrow.png") no-repeat;
  width: 25px;
  height: 26px;
  text-indent: -10000px;
  display: block;
  float: right;
}
/* line 272, ../sass/app.scss */
#newsList .newsItem.relevance-Low {
  height: 180px;
}
/* line 274, ../sass/app.scss */
#newsList .newsItem.relevance-Low h4 {
  color: #777777 !important;
}
/* line 278, ../sass/app.scss */
#newsList .newsItem.relevance-Low .hasImage.info {
  margin-left: 174px;
  top: 14px;
  margin-right: 10px;
}
/* line 283, ../sass/app.scss */
#newsList .newsItem.relevance-Low .hasImage.info h4 {
  font-size: 20px;
}
/* line 289, ../sass/app.scss */
#newsList .newsItem .hasImage {
  color: white;
}
/* line 292, ../sass/app.scss */
#newsList .newsItem .info {
  position: absolute;
  bottom: 20px;
  margin-right: 20px;
  z-index: 2;
}
/* line 297, ../sass/app.scss */
#newsList .newsItem .info h4 {
  font-size: 22px;
  font-family: Arial;
  font-weight: normal;
  line-height: 120%;
}
/* line 303, ../sass/app.scss */
#newsList .newsItem .info .date {
  line-height: 35px;
  color: #999;
}
/* line 308, ../sass/app.scss */
#newsList .newsItem .imageMask {
  width: 180px;
  height: 180px;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
}

/* line 319, ../sass/app.scss */
#LayoutArea, .content {
  width: 1168px;
  margin: 0 auto;
}

/* line 326, ../sass/app.scss */
#Related img {
  width: 180px;
}
/* line 330, ../sass/app.scss */
#Related .imageMask {
  position: relative;
  width: 119px;
  height: 120px;
  overflow: hidden;
  float: left;
  margin-right: 16px;
}
/* line 337, ../sass/app.scss */
#Related .imageMask:before {
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #FFFFFF;
  border-top: 15px solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 46px;
  width: 0;
  z-index: 10;
}
/* line 351, ../sass/app.scss */
#Related .more i {
  margin-top: 10PX;
  float: right;
  margin-left: 6px;
}
/* line 356, ../sass/app.scss */
#Related .more span {
  color: #666;
  line-height: 41px;
}

/* line 363, ../sass/app.scss */
.sidebar .widget {
  margin: 20px 0;
}

/* line 367, ../sass/app.scss */
.news {
  margin-top: 20px;
}

/* line 368, ../sass/app.scss */
#detailView {
  margin-top: 20px;
}
/* line 372, ../sass/app.scss */
#detailView .content-field {
  font-family: arial;
  line-height: 130%;
  font-size: 14px;
}
/* line 376, ../sass/app.scss */
#detailView .content-field img {
  margin: 10px;
}
/* line 381, ../sass/app.scss */
#detailView .headline h1 {
  margin: 20px 0;
}
/* line 384, ../sass/app.scss */
#detailView .headline > div {
  line-height: 23px;
  margin-bottom: 20px;
  color: #666666;
  font-size: 12px;
}
/* line 390, ../sass/app.scss */
#detailView .headline .cat {
  float: right;
}
/* line 391, ../sass/app.scss */
#detailView .headline .cat label {
  float: left;
}
/* line 392, ../sass/app.scss */
#detailView .headline .cat a {
  margin-top: 0;
  margin-left: 10px;
}
/* line 399, ../sass/app.scss */
#detailView .controls {
  position: absolute;
  width: 800px;
  margin-top: 70px;
  margin-left: -55px;
}
/* line 406, ../sass/app.scss */
#detailView #prevGal, #detailView #nextGal {
  background: url("../img/mkt-sprite.png") no-repeat scroll -122px -241px transparent;
  display: block;
  float: left;
  height: 67px;
  overflow: hidden;
  text-indent: -1000px;
  width: 42px;
}
/* line 416, ../sass/app.scss */
#detailView #nextGal {
  background-position: -225px -241px;
  float: right;
}
/* line 420, ../sass/app.scss */
#detailView #gallery {
  margin: 20px 0;
}
/* line 423, ../sass/app.scss */
#detailView #gallery a {
  width: 170px;
  height: 170px;
  overflow: hidden;
  border: 2px solid gray;
  position: relative;
  float: left;
  display: block;
  margin-right: 10px;
}
/* line 433, ../sass/app.scss */
#detailView #gallery a img {
  height: 100%;
}

/* line 440, ../sass/app.scss */
.videoModal .imagecontainer {
  height: 100%;
  text-align: center;
}
/* line 444, ../sass/app.scss */
.videoModal img {
  height: 100%;
  max-width: 100%;
}

/* line 449, ../sass/app.scss */
#strategyView .content {
  float: left;
}

/* line 452, ../sass/app.scss */
.p2-bannerTitleArea {
  width: 200px;
}

/* line 455, ../sass/app.scss */
h1, h2, h3, h4 {
  line-height: 130%;
}

/* line 458, ../sass/app.scss */
.media-wrapper {
  width: 50%;
  float: left;
  margin: 0px 20px 20px 0;
  background-image: url("../img/ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 465, ../sass/app.scss */
.media-wrapper img {
  width: 100%;
}

/* line 469, ../sass/app.scss */
#storySlider {
  width: 94%;
  margin: 20px 30px;
  display: block;
  float: left;
  position: relative;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
/* line 472, ../sass/app.scss */
#storySlider #prevStory, #storySlider #nextStory {
  position: absolute;
  top: 26px;
  text-indent: -10000px;
  width: 12px;
  height: 19px;
  background-repeat: no-repeat;
}
/* line 481, ../sass/app.scss */
#storySlider #nextStory {
  right: -26px;
  background-image: url(https://sites.accenture.com/publishing/Mexico/MKTDev/assets/img/right.png);
  top: 18px;
}
/* line 486, ../sass/app.scss */
#storySlider #prevStory {
  left: -26px;
  background-image: url(https://sites.accenture.com/publishing/Mexico/MKTDev/assets/img/left.png);
}
/* line 492, ../sass/app.scss */
#storySlider .slide, #storySlider .slider {
  width: 100% !important;
}
/* line 502, ../sass/app.scss */
#storySlider img {
  height: 100%;
}
/* line 506, ../sass/app.scss */
#storySlider .mask {
  display: block;
  width: 71px;
  height: 71px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
/* line 514, ../sass/app.scss */
#storySlider li {
  position: absolute;
  width: 40%;
  top: 0;
  line-height: 12px;
}
/* line 519, ../sass/app.scss */
#storySlider li a {
  margin: 10px 0;
  display: block;
  color: #008799;
  font-size: 13px;
  line-height: 18px;
}
/* line 527, ../sass/app.scss */
#storySlider li:first-child {
  text-align: left;
  left: 0;
}
/* line 528, ../sass/app.scss */
#storySlider li:first-child img {
  float: left;
  margin-right: 13px;
}
/* line 535, ../sass/app.scss */
#storySlider li:last-child {
  text-align: right;
  right: 0;
}
/* line 536, ../sass/app.scss */
#storySlider li:last-child img {
  float: right;
  margin-left: 13px;
}

/* line 545, ../sass/app.scss */
.banner {
  position: absolute;
  margin-top: 20px;
  margin-left: 12px;
}

/* line 551, ../sass/app.scss */
#topNav li {
  line-height: 185%;
}
/* line 552, ../sass/app.scss */
#topNav .selected {
  border-bottom: 5px solid #33a0ad;
}

/* line 556, ../sass/app.scss */
#awards .news-internal-content {
  margin-top: 276px;
  padding-left: 10px;
}

/* line 560, ../sass/app.scss */
#newsList.awards {
  width: 800px;
  float: left;
  padding: 0;
}
/* line 564, ../sass/app.scss */
#newsList.awards .news {
  border: none;
  margin-top: 270px;
}
/* line 565, ../sass/app.scss */
#newsList.awards .list .newsItem {
  width: 91% !important;
}
/* line 568, ../sass/app.scss */
#newsList.awards .month {
  margin: 0;
}
